<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

   <listeners>
       <listener class-name="api.utilities.ExtentReportManager" />

   </listeners>
    <test verbose="2" preserve-order="true" name="D:/code-practice/Guo/PetStoreAPIAutomation/src/test/java/api/test">

        <classes>
            <!--class name="api.test.DDTest">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class> -->
<!--            <class name="api.test.UserTest">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testGetUserByName"/>-->
<!--                    <include name="testUpdateUser"/>-->
<!--                    <include name="testDeleteUser"/>-->
<!--                </methods>-->
<!--            </class>-->

            <class name="api.test.UserTest2"/>


        </classes>
    </test>
</suite>